body { background: #F8F9FA;}
header {
	position: relative;
	height: 800px;
	min-height: 500px;
	width: 100%;
	background: #161415 url(../images/header-background.jpg) no-repeat top center;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	text-align: center;
	overflow: hidden;
}
header:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
header .banner {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	width: 85%;
	padding-bottom: 30px;s
	text-align: center;
}
header .banner-text { width: 100%;}
header .banner-text h1 {
	font: 90px/1.1em 'Google Sans', sans-serif;
	color: #fff;
	letter-spacing: -2px;
	margin: 0 auto 18px auto;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
	font: 18px/1.9em 'Roboto', serif;
	color: #fff;
	margin: 0 auto;
	width: 70%;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
	color: #1389FD;
}
header .banner-text hr {
	width: 60%;
	margin: 18px auto 24px auto;
	border-color: #2F2D2E;
	border-color: rgba(150, 150, 150, .1);
}
header .social {
	margin: 24px 0;
	padding: 0;
	font-size: 30px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
	display: inline-block;
	margin: 0 15px;
	padding: 0;
}
header .social li a { color: #fff;}
header .social li a:hover { color: #11ABB0;}

header .scrolldown a {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -29px;
	color: #fff;
	display: block;
	height: 42px;
	width: 42px;
	font-size: 42px;
	line-height: 42px;
	color: #fff;
	border-radius: 100%;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0;}
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
#nav-wrap {
	font: 14px 'Google Sans', sans-serif;
	width: 100%;
	text-transform: capitalize;
	margin: 0 auto;
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
}
#nav-wrap ul#nav li {
  background: #fff;
}
.opaque {
  margin-top: 0!important;
	background-color: #FFF;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
.opaque ul#nav li {
  border-radius: 0!important;
  height: 48px;
}
.opaque ul#nav li a {
	color: #6E7274;
  padding: 8px 18px;
}
#nav-wrap > a.mobile-btn { display: none;}

ul#nav {
	min-height: 48px;
	width: auto;
	text-align: center;
}
ul#nav li {
	position: relative;
	list-style: none;
	height: 40px;
	display: inline-block;
}

ul#nav li a {
	display: inline-block;
	padding: 5px 18px;
	line-height: 32px;
	text-decoration: none;
	text-align: left;
	color: #6E7274;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
ul#nav li a:active { background-color: transparent !important;}
ul#nav li.current { background: #0276e8!important;}
ul#nav li.current a { color: #fff;}
#about {
	background: #f7f7f7;
	padding-top: 96px;
	padding-bottom: 66px;
	overflow: hidden;
}
#about h2 {
	font: 22px/30px 'Google Sans', sans-serif;
	margin-bottom: 12px;
}
#about p {
	line-height: 30px;
	color: #7A7A7A;
}
#about .profile-pic {
	position: relative;
	width: 170px;
	height: 170px;
	border-radius: 100%;
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302),0 4px 8px 3px rgba(60,64,67,0.149);
}
#about .contact-details { width: 41.66667%;}
#about .download {
	width: 58.33333%;
	padding-top: 6px;
}
#about .main-col {
	padding: 5%;
	background: #fff;
	border-radius: 10px;
}

#about .download .button i {
	margin-right: 15px;
	font-size: 20px;
}
#resume {
	background: #FAFAFA;
	padding-top: 90px;
	padding-bottom: 72px;
	overflow: hidden;
}
#resume a, #resume a:visited	{ color: #11ABB0;}
#resume a:hover, #resume a:focus { color: #313131;}
#resume h1 {
	font: 18px/24px 'Google Sans', sans-serif;
	letter-spacing: .25px;
}
#resume h1 span {
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
	border-radius: 100px;
	padding: 10px 20px;
  background: #fff;
}
#resume h3 {
	font: 25px/30px 'Google Sans', sans-serif;
}
#resume .header-col { padding-top: 9px;}
#resume .main-col {
	padding: 40px;
	border-radius: 10px;
	background: #fff;
}
.education, .work, .birth {
	margin-bottom: 48px;
	padding-bottom: 24px;
	border-bottom: 1px solid #E8E8E8;
}
#resume .info {
	font: 16px/24px 'Roboto', serif;
	color: #1389FD;
	margin-bottom: 18px;
	margin-top: 9px;
}
#resume .birth .info {
  margin:0;
}
#resume .birth .main-col {
  padding: 20px 40px;
}
#resume .info span {
	margin-right: 5px;
	margin-left: 5px;
}
#resume .date {
	font: 15px/24px 'Roboto', sans-serif;
	margin-top: 6px;
}
.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
		margin-top: 36px;
	list-style: none;
}
.bars li {
	position: relative;
		margin-bottom: 60px;
		background: #ccc;
		height: 42px;
		border-radius: 3px;
}
.bars li em {
	font: 15px 'Google Sans', sans-serif;
	color: #313131;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	top: -36px;
}
.bar-expand {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding-right: 24px;
		background: #313131;
	display: inline-block;
		height: 42px;
	line-height: 42px;
	border-radius: 3px 0 0 3px;
}
.photoshop {
		width: 60%;
		-moz-animation: photoshop 2s ease;
		-webkit-animation: photoshop 2s ease;
}
.illustrator {
		width: 55%;
		-moz-animation: illustrator 2s ease;
		-webkit-animation: illustrator 2s ease;
}
.wordpress {
		width: 50%;
		-moz-animation: wordpress 2s ease;
		-webkit-animation: wordpress 2s ease;
}
.css {
		width: 90%;
		-moz-animation: css 2s ease;
		-webkit-animation: css 2s ease;
}
.html5 {
		width: 80%;
		-moz-animation: html5 2s ease;
		-webkit-animation: html5 2s ease;
}
.jquery {
		width: 50%;
		-moz-animation: jquery 2s ease;
		-webkit-animation: jquery 2s ease;
}

@-moz-keyframes photoshop {
	0%	{ width: 0px;	}
	100% { width: 60%;	}
}
@-moz-keyframes illustrator {
	0%	{ width: 0px;	}
	100% { width: 55%;	}
}
@-moz-keyframes wordpress {
	0%	{ width: 0px;	}
	100% { width: 50%;	}
}
@-moz-keyframes css {
	0%	{ width: 0px;	}
	100% { width: 90%;	}
}
@-moz-keyframes html5 {
	0%	{ width: 0px;	}
	100% { width: 80%;	}
}
@-moz-keyframes jquery {
	0%	{ width: 0px;	}
	100% { width: 50%;	}
}

@-webkit-keyframes photoshop {
	0%	{ width: 0px;	}
	100% { width: 60%;	}
}
@-webkit-keyframes illustrator {
	0%	{ width: 0px;	}
	100% { width: 55%;	}
}
@-webkit-keyframes wordpress {
	0%	{ width: 0px;	}
	100% { width: 50%;	}
}
@-webkit-keyframes css {
	0%	{ width: 0px;	}
	100% { width: 90%;	}
}
@-webkit-keyframes html5 {
	0%	{ width: 0px;	}
	100% { width: 80%;	}
}
@-webkit-keyframes jquery {
	0%	{ width: 0px;	}
	100% { width: 50%;	}
}
.popup-modal {
	max-width: 550px;
	background: #fff;
	position: relative;
	margin: 0 auto;
}
.popup-modal .description-box { padding: 12px 36px 18px 36px;}
.popup-modal .description-box h4 {
	font: 15px/24px 'Google Sans', sans-serif;
	margin-bottom: 12px;
	color: #111;
}
.popup-modal .description-box p {
	font: 14px/24px 'Google Sans', sans-serif;
	color: #A1A1A1;
	margin-bottom: 12px;
}
.popup-modal .description-box .categories {
	font: 11px/21px 'opensans-light', sans-serif;
	color: #A1A1A1;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: block;
	text-align: left;
}
.popup-modal .description-box .categories i {
	margin-right: 8px;
}
.popup-modal .link-box {
	padding: 18px 36px;
	background: #111;
	text-align: left;
}
.popup-modal .link-box a {
	color: #fff;
	font: 11px/21px 'Google Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
}
.popup-modal a:hover {	color: #00CCCC;}
.popup-modal a.popup-modal-dismiss { margin-left: 24px;}
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
	opacity: 0;
}
.flexslider a:active,
.flexslider a:focus	{ outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none;}
.slides li { margin: 0; padding: 0;}
.flexslider {
	position: relative;
	zoom: 1;
	margin: 0;
	padding: 0;
}
.flexslider .slides { zoom: 1;}
.flexslider .slides > li { position: relative;}
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden;}
.flex-container { zoom: 1; position: relative;}
.slides:before,
.slides:after {
	content: " ";
	display: table;
}
.slides:after {
	clear: both;
}
.no-js .slides > li:first-child { display: block;}
.slides { zoom: 1;}
.slides > li {
	overflow: hidden;
}
.flex-control-nav {
		width: 100%;
		position: absolute;
		bottom: -20px;
		text-align: left;
}
.flex-control-nav li {
		margin: 0 6px;
		display: inline-block;
		zoom: 1;
		*display: inline;
}
.flex-control-paging li a {
		width: 12px;
		height: 12px;
		display: block;
		background: #ddd;
		background: rgba(255, 255, 255, .3);
		cursor: pointer;
		text-indent: -9999px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		border-radius: 20px;
		box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
		background: #CCC;
		background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
		background: #fff;
		background: rgba(255, 255, 255, .9);
		cursor: default;
}
#contact {
	background: #191919;
	padding-top: 96px;
	padding-bottom: 102px;
	color: #636363;
}
#contact .section-head { margin-bottom: 42px;}
#contact a, #contact a:visited	{ color: #11ABB0;}
#contact a:hover, #contact a:focus { color: #fff;}
#contact h1 {
	font: 18px/24px 'Google Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #EBEEEE;
	margin-bottom: 6px;
}
#contact h1 span { display: none;}
#contact h1:before {
	font-family: 'FontAwesome';
	content: "\f0e0";
	padding-right: 10px;
	font-size: 72px;
	line-height: 72px;
	text-align: left;
	float: left;
	color: #ebeeee;
}
#contact h4 {
	font: 16px/24px 'Google Sans', sans-serif;
	color: #EBEEEE;
	margin-bottom: 6px;
}
#contact p.lead {
	font: 18px/36px 'opensans-light', sans-serif;
	padding-right: 3%;
}
#contact .header-col { padding-top: 6px;}
#contact form { margin-bottom: 30px;}
#contact label {
	font: 15px/24px 'Google Sans', sans-serif;
	margin: 12px 0;
	color: #EBEEEE;
	display: inline-block;
	float: left;
	width: 26%;
}
#contact input,
#contact textarea,
#contact select {
	padding: 18px 20px;
	color: #eee;
	background: #373233;
	margin-bottom: 42px;
	border: 0;
	outline: none;
	font-size: 15px;
	line-height: 24px;
	width: 65%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
	color: #fff;
	background-color: #11ABB0;
}
#contact button.submit {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:#fff;
	background: #0D0D0D;
	border: none;
	cursor: pointer;
	height: auto;
	display: inline-block;
	border-radius: 3px;
	margin-left: 26%;
}
#contact button.submit:hover {
	color: #0D0D0D;
	background: #fff;
}
#contact span.required {
	color: #11ABB0;
	font-size: 13px;
}
#message-warning, #message-success {
	display: none;
	background: #0F0F0F;
	padding: 24px 24px;
	margin-bottom: 36px;
	width: 65%;
	margin-left: 26%;
}
#message-warning { color: #D72828;}
#message-success { color: #11ABB0;}

#message-warning i,
#message-success i {
	margin-right: 10px;
}
#image-loader {
	display: none;
	position: relative;
	left: 18px;
	top: 17px;
}
#twitter {
	margin-top: 12px;
	padding: 0;
}
#twitter li {
	margin: 6px 0px 12px 0;
	line-height: 30px;
}
#twitter li span {
	display: block;
}
#twitter li b a {
	font: 13px/36px 'Google Sans', Sans-serif;
	color: #474747 !important;
	border: none;
}
footer {
	padding-top: 48px;
	padding-bottom: 48px;
	color: #303030;
	font-size: 14px;
	text-align: center;
	position: relative;
  background: #fff;
}
footer a, footer a:visited { color: #525252;}
footer a:hover, footer a:focus { color: #fff;}
footer .copyright {
		margin: 0;
		padding: 0;
}
footer .copyright li {
		display: inline-block;
		margin: 0;
		padding: 0;
		line-height: 24px;
}
.ie footer .copyright li {
	display: inline;
}
footer .copyright li:before {
		content: "\2022";
		padding-left: 10px;
		padding-right: 10px;
		color: #095153;
}
footer .copyright	li:first-child:before {
		display: none;
}
footer .social-links {
	margin: 18px 0 30px 0;
	padding: 0;
	font-size: 30px;
}
footer .social-links li {
		display: inline-block;
		margin: 0;
		padding: 0;
		margin-left: 42px;
		color: #F06000;
}
footer .social-links li:first-child { margin-left: 0;}
#go-top {
	position: absolute;
	top: -24px;
	left: 50%;
	margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 50px;
	height: 50px;
	color: #0276e8!important;
	background: #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #fff;
	font-size: 21px;
	line-height: 60px;
 	border-radius: 100%;
 	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 0 6px 0 rgba(0,0,0,0.1);
}
#go-top a:hover {
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 0 6px 0 rgba(0,0,0,0.1);
}
#go-top .material-icons {
  margin: 0!important;
  vertical-align: baseline!important;
}
.material-icons {
  transition: all 100ms linear;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 3px;
}