@media only screen and (max-width: 1024px) {
	header .banner-text h1 {
		font: 80px/1.1em 'Google Sans', sans-serif;
		letter-spacing: -1px;
		margin: 0 auto 12px auto;
	}
}

@media only screen and (max-width: 900px) {

	header .banner { padding-bottom: 12px; }
	header .banner-text h1 {
		font: 78px/1.1em 'Google Sans', sans-serif;
		letter-spacing: -1px;
	}
	header .banner-text h3 {
		font: 17px/1.9em 'Roboto', serif;
		width: 80%;
	}
	header .banner-text hr {
		width: 65%;
		margin: 12px auto;
	}
	#nav-wrap {
		font: 11px 'Google Sans', sans-serif;
		letter-spacing: 1.5px;
	}

	#about .profile-pic {
		width: 114px;
		height: 114px;
		margin-left: 12px;
	}
	#about .contact-details { width: 50%; }
	#about .download { width: 50%; }

	#resume h1 { font: 16px/24px 'Google Sans', sans-serif; }
	#resume .main-col { padding-right: 5%; }	

	#testimonials .header-col h1:before {
		font-size: 66px;
		line-height: 66px;
	}
	#testimonials blockquote p {
		font-size: 22px;
		line-height: 46px;
	}

	#call-to-action .header-col h1:before {
		font-size: 66px;
		line-height: 66px;
	}

	#contact .section-head { margin-bottom: 30px; }
	#contact .header-col h1:before {
		font-size: 66px;
		line-height: 66px;
	}
	#contact .section-head p.lead { font: 17px/33px Roboto Condensed, sans-serif; }
}

@media only screen and (max-width: 767px) {
	#nav-wrap {
		font: 12px 'Google Sans', sans-serif;
		background: transparent !important;
		letter-spacing: 1.5px;  
		width: auto;
		position: fixed;
		top: 0;
		right: 0;
		margin-top: 0!important;
	}
	#resume {
		padding-left: 10px;
		padding-right: 10px;
	}
	#nav-wrap > a {
		width: 48px;
		height: 48px;
		text-align: left;
		background-color: #1389FD;
		position: relative;
		border: none;
		float: right;
		box-shadow: 0 1px 2px 0 #1389FD30,0 1px 3px 1px #1389FD10;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		position: relative;
		top: 0px;
		right: 0px;
	}
	#nav-wrap > a:before,
	#nav-wrap > a:after {
		position: absolute;
		background: #fff;
		height: 2px;
		top: 40%;
		left: 25%;
		right: 25%;
		content: '';
	}
	.opaque > a {
		background: #fff!important;
		box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149)!important;
	}
	.opaque > a:before,
	.opaque > a:after {
		background: #1389FD!important;
	}
	#nav-wrap > a:after { top: 55%; }
	#nav-wrap:not( :target ) > a:first-of-type,
	#nav-wrap:target > a:last-of-type  {
		display: block;
	}
	#nav-wrap ul#nav {
		height: auto;
		display: none;
		clear: both;
		width: auto; 
		float: right;	  
		position: relative;
		top: 12px;
		right: 0;
	}
	.opaque {
		box-shadow: none;
	}
	#nav-wrap:target > ul#nav	{
		display: block;
		margin: 0 30px;
		clear: both;
	}
	ul#nav li {
		display: block;
		height: auto;
		margin: 0 auto;
	}
	ul#nav li a {  
		display: block;	 
		margin: 0;
		padding: 10px 20px;
		margin: 12px 0; 
		line-height: 16px;
		border: none;
	}  
	header .banner {
		padding-bottom: 12px;
		padding-top: 6px;
	}
	header .banner-text h1 { font: 68px/1.1em 'Google Sans', sans-serif; }
	header .banner-text h3 {
		font: 16px/1.9em 'Roboto', serif;
		width: 85%;
	}
	header .banner-text hr {
		width: 80%;
		margin: 18px auto;
	}
	header .social {
		margin: 18px 0 24px 0;
		font-size: 24px;
		line-height: 36px;
	}
	header .social li { margin: 0 10px; }
	header .scrolldown { display: none; }
	#about .profile-pic { display: none; }
	#about .download .button {
		width: 100%;
		text-align: center;
		padding: 15px 20px;
	}
	#about .main-col { padding-right: 30px; }
	#resume .header-col {
		padding-top: 0;
		margin-bottom: 48px;
		text-align: center;
	}
	#resume h1 span { background: #0276e8; color: #fff;}
	#resume .main-col { padding-right: 30px; }
	#resume h3, #resume .info { text-align: center; }
	.bars { width: 100%; }
	#call-to-action { text-align: center; }
	#call-to-action h1 {
		font: 16px/24px 'Google Sans', sans-serif;
		text-align: center;
		margin-bottom: 30px;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
	}
	#call-to-action h1 span { display: block; }
	#call-to-action .header-col h1:before { content: none; }
	#call-to-action p { font-size: 15px; }
	#portfolio-wrapper .columns { margin-bottom: 40px; }
	.popup-modal {	max-width: 85%; }
	#testimonials .text-container { text-align: center; }
	#testimonials h1 {
		font: 16px/24px 'Google Sans', sans-serif;
		text-align: center;
		margin-bottom: 30px;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
	}
	#testimonials h1 span { display: block; }
	#testimonials .header-col h1:before { content: none; }
	#testimonials blockquote { padding-bottom: 24px; }
	#testimonials blockquote p {
		font-size: 20px;
		line-height: 42px;
	}
	.flex-control-nav {
		text-align: center;
		margin-left: -30px;
	}
	#contact { padding-bottom: 66px; }
	#contact .section-head { margin-bottom: 12px; }
	#contact .section-head h1 {
		font: 16px/24px 'Google Sans', sans-serif;		
		text-align: center;	
		margin-bottom: 30px;
		text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
	}  
	#contact h1 span { display: block; }
	#contact .header-col { padding-top: 0; }
	#contact .header-col h1:before { content: none;	}
	#contact .section-head p.lead { text-align: center;}
	#contact label {
		float: none;
		width: 100%;
	}
	#contact input,
	#contact textarea,
	#contact select {
	  	margin-bottom: 6px;	 	
		width: 100%;
	}
	#contact button.submit { margin: 30px 0 24px 0; }
	#message-warning, #message-success {
		width: 100%;
		margin-left: 0;
	}

	footer .copyright li:before { content: none; }
	footer .copyright li { margin-right: 12px; }
	footer .social-links { font-size: 22px; }
	footer .social-links li { margin-left: 18px; }
	#go-top { margin-left: -22px; }
	#go-top a {
		width: 44px;
		height: 44px;
		font-size: 18px;
		line-height: 54px;
	}
}

@media only screen and (max-width: 480px) {
	#nav-wrap ul#nav { width: auto; float: none; }
	header .banner { padding-top: 24px; }
	header .banner-text h1 {
		font: 40px/1.1em 'Google Sans', sans-serif;
		margin: 0 auto 24px auto;
	}
	header .banner-text h3 {
		font: 14px/1.9em 'Roboto', sans-serif;
		width: 90%;
	}
	header .social { font-size: 20px;}
	header .social li { margin: 0 6px; }
	footer .social-links { font-size: 20px; }
	footer .social-links li { margin-left: 14px; }	
}









